@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Great+Vibes&family=Italiana&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.foot {
  position: absolute;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.foot button {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}
.foot button.inactive {
  opacity: 0.5;
  pointer-events: none;
}
.foot button:hover {
  background: #445a64;
}
.foot button:hover span {
  color: white;
}
.foot button span {
  padding: 10px;
  color: #445a64;
  font-size: 25px;
  transition: 0.5s ease-in-out all;
}
.foot .timer {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.foot .timer span {
  position: absolute;
  font-size: 40px;
  opacity: 0.3;
}
.foot .timer i {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.head {
  padding: 10px;
  align-items: center;
  display: flex;
  gap: 10px;
}
.head .cat,
.head .dfc {
  width: 50%;
  position: relative;
  border: 1px solid #445a64;
  padding: 10px;
}
.head .cat span,
.head .dfc span {
  position: absolute;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
  background: #445a64;
  padding: 0 5px;
  top: -8px;
}
.head .cat select,
.head .dfc select {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.result {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000000;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  transition: 0.5s ease-in-out all;
  overflow: hidden;
}
.result.active {
  top: 0;
}
.result .rslt-head {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result .rslt-head img {
  width: 100px;
}
.result .rslt-head span {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 5px;
  font-weight: 800;
}
.result .res {
  position: relative;
  padding: 30px;
}
.result .res span:last-child {
  font-size: 40px;
  position: relative;
  color: white;
}
.result .res span:last-child::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #445a64;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.result .res span:first-child {
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background: #445a64;
  padding: 0 5px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.result .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 30px;
}
.result .btns button {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
  position: relative;
}
.result .btns button.inactive {
  opacity: 0.5;
  pointer-events: none;
}
.result .btns button:hover {
  background: #445a64;
}
.result .btns button:hover span {
  color: white;
}
.result .btns button:hover span:last-child {
  opacity: 1;
}
.result .btns button span {
  padding: 10px;
  color: #445a64;
  font-size: 25px;
  transition: 0.5s ease-in-out all;
}
.result .btns button span:last-child {
  color: white;
  position: absolute;
  bottom: -30px;
  font-size: 12px;
  text-transform: uppercase;
  background: #445a64;
  padding: 0 5px;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease-in-out all;
}
.result .btns button span:last-child::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  background: #445a64;
  z-index: -1;
}

.rev-ans {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 1000000000000000;
  transition: 0.5s ease-in-out all;
}
.rev-ans.active {
  top: 0;
}
.rev-ans span.cls-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
}
.rev-ans span.cls-btn:hover {
  background: #445a64;
  color: white;
}
.rev-ans .rev-head {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rev-ans .rev-head img {
  width: 100px;
}
.rev-ans .rev-head span {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 5px;
}
.rev-ans .ans-cont {
  position: absolute;
  height: 80%;
  top: 20%;
  padding: 20px;
  overflow: hidden;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
}
.rev-ans .ans-cont::-webkit-scrollbar {
  width: 10px;
}
.rev-ans .ans-cont::-webkit-scrollbar-track {
  background: transparent;
}
.rev-ans .ans-cont::-webkit-scrollbar-thumb {
  background: #445a64;
}
.rev-ans .ans-cont .qst-rev {
  padding-top: 40px;
  position: relative;
  margin: 10px 0;
}
.rev-ans .ans-cont .qst-rev::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-left: 2px #445a64 solid;
  border-top: 2px #445a64 solid;
  top: 0;
  left: 0;
}
.rev-ans .ans-cont .qst-rev .qst-rst {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  background: #445a64;
  font-size: 16px;
}
.rev-ans .ans-cont .qst-rev .qst-rst.crkt {
  background: #355E3B;
}
.rev-ans .ans-cont .qst-rev .qst-rst.rng {
  background: #ff5252;
}
.rev-ans .ans-cont .qst-rev p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.rev-ans .ans-cont .qst-rev p.qst-rev-txt {
  gap: 10px;
  justify-content: flex-start;
}
.rev-ans .ans-cont .qst-rev p.qst-rev-txt span:first-child {
  background: #445a64;
  color: white;
  padding: 10px;
  height: 100%;
}
.rev-ans .ans-cont .qst-rev p.crkt-ans {
  justify-content: flex-start;
  margin: 5px 0;
  background: #355E3B;
  gap: 10px;
}
.rev-ans .ans-cont .qst-rev p.crkt-ans span {
  color: white;
}
.rev-ans .ans-cont .qst-rev p.rng-ans {
  justify-content: flex-start;
  margin: 5px 0;
  background: #ff5252;
  gap: 10px;
}
.rev-ans .ans-cont .qst-rev p.rng-ans span {
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #445a64;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(68, 90, 100, 0.1), #445a64), url("../imgs/wp9537343.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 400px;
  height: 570px;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 10px;
}
.container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.container .logo img {
  width: 150px;
}
.container .qst {
  position: absolute;
  display: none;
  color: #fcfcff;
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  padding-top: 40px;
  margin-top: 25px;
}
.container .qst .ans p {
  width: 95%;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.container .qst .ans p span {
  transition: 0.5s ease-in-out all;
}
.container .qst .ans p span:first-child {
  padding: 10px;
  background: #445a64;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container .qst .ans p::before {
  width: 100%;
  height: 100%;
  background: #445a64;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  transition: 0.5s ease-in-out all;
}
.container .qst .ans p.selected span, .container .qst .ans p:hover span {
  color: white;
}
.container .qst .ans p.selected::before, .container .qst .ans p:hover::before {
  left: 0;
}
.container .qst .qst_txt {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  width: 95%;
  position: relative;
  margin: 10px 0;
}
.container .qst .qst_txt::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-top: 2px solid #445a64;
  border-left: 2px solid #445a64;
}
.container .qst .qst_txt::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #445a64;
  border-right: 2px solid #445a64;
}
.container .qst .qst-num {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  width: 35px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: white;
}
.container .qst .qst-num::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #445a64;
  z-index: -1;
  transform: rotate(45deg);
}
.container .qst.active {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */