@use './colors' as *;

@mixin backgroundFix($url) {
    background: linear-gradient(rgba($gray-color, 0.1), $gray-color), url($url) no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin centerDiv($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}